# Part One: Text Cleaning

Implement a text-cleaning function that conforms to the test-cases outlined below.

In [25]:
import numpy as np
import pandas

In [26]:
# clean_number
# Returns float/integer value of input text after minor text-cleaning, or 
# returns np.NaN if numeric value cannot be parsed without making excessive assumptions.
# Input: text (string)
# Output: numeric (int, float) or np.nan
def clean_number(text):
    #
    # Your implementation here.
    #
    
    intVal=int(0)
    floatVal=float(1.0)
    try:
        intVal= int(text)
    except:
        intVal=0
    
    try:
        floatVal = float(text)
    except:
        floatVal=0
    if intVal>0:
        return intVal
    if floatVal>1:
        return floatVal
    return np.nan

#### The clean_number method should conform to pass the following test-cases:

In [27]:
result = clean_number('90')
assert(result == 90), result

In [28]:
result = clean_number(' 90')
assert(result == 90), result

In [29]:
result = clean_number('90.0')
assert(result == 90), result

In [30]:
result = clean_number('9.0.0')
assert(np.isnan(result)), result

In [31]:
result = clean_number('90.0!')
assert(np.isnan(result)), result

In [32]:
result = clean_number('90*')
assert(np.isnan(result)), result

In [33]:
result = clean_number('90hello')
assert(np.isnan(result)), result

In [34]:
result = clean_number('hello90')
assert(np.isnan(result)), result

# Part Two: Weather Data

1. Read an input file, 'weather.csv' to a Pandas DataFrame


2. Add a new column that represents the temperature spread for the day. 

    **Spread** = maximum temp (**MxT**) - minimum temp (**MnT**)
    
Hint: The method implemented above *might* be useful!

In [106]:
# Read file here
import pandas as pd
myDataFrame = pd.read_csv('weather.csv',delim_whitespace=True)

In [107]:
# Add a new column for the temperature spread here.
myDataFrame.insert(17,'Spread','')
for indx in range(len(myDataFrame)) :
    if indx != len(myDataFrame.index)-1:
        try:  
            mxT = int(myDataFrame.iloc[indx, 1])
            mnT = int(myDataFrame.iloc[indx, 2])
            myDataFrame.iloc[indx, 17] = mxT - mnT
        except:
            myDataFrame.iloc[indx, 17] = 'null'
    else:
        myDataFrame.iloc[indx, 17] = 'null'

In [108]:
# Output the minimum valid temperature spread (exclude NaN)
my_df2= myDataFrame[(myDataFrame['Spread']!="null")]
print(my_df2['Spread'])

0     29
1     16
2     22
3     18
4     24
5     20
6     16
7     21
9     20
10    32
11    15
12    11
13     2
14     9
15    20
16    24
17    30
18    20
19    27
20    27
21    26
22    22
23    13
24    18
26    19
27    16
28    22
29    45
Name: Spread, dtype: object

In [109]:
# Output the day(s) corresponding with the minimum temperature spread
print(my_df2['Dy'])

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
26    27
27    28
28    29
29    30
Name: Dy, dtype: object

# Part Three: Soccer League Table

The file 'football.csv' contains soccer results. Add a new column that represents the difference in 'for' (F) and 'against' (A) goals.  The columns labeled ‘F’ and ‘A’ contain the total number of goals scored for and against each team in that season (so Arsenal scored 79 goals against opponents and had 36 goals scored against them).

Write a program to print the name of the team with the smallest difference in ‘for’ and ‘against’ goals.

In [117]:
# Your work here
import pandas as pd
myDataFrame = pd.read_csv('football.csv')
myDataFrame.insert(8,'Difference','')
print(myDataFrame)
for indx in range(len(myDataFrame)):
    FData = float(myDataFrame.iloc[indx, 5].replace("*","").replace("F",""))
    AData = float(myDataFrame.iloc[indx, 6].replace("*","").replace("A",""))
    DiffData = FData-AData
    myDataFrame.iloc[indx, 8]=DiffData
print(myDataFrame[(myDataFrame.Difference <=0)]['Team'])

             Team     P      W      L      D      F      A   Pts Difference
0         Arsenal  38.0     26      9      3     79     36  87.0
1       Liverpool  38.0     24      8      6     67     30  80.0
2    Manchester_U  38.0     24      5      9     87     45  77.0
3       Newcastle  38.0    21w     8L      9   F 74   A 52  71.0
4           Leeds  38.0     18     12      8     53     37  66.0
5         Chelsea  38.0     17     13      8     66     38  64.0
6        West_Ham  38.0     15      8    *15     48     57  53.0
7     Aston_Villa  38.0     12     14     12     46     47  50.0
8       Tottenham  38.0    14w     8l     16     49     53  50.0
9       Blackburn  38.0     12     10     16     55     51  46.0
10    Southampton  38.0     12      9     17     46     54  45.0
11  Middlesbrough  38.0     12      9     17   F 35   A 47  45.0
12         Fulham  38.0     10     14     14     36     44  44.0
13       Charlton  38.0     10     14     14     38     49  44.0
14        Everton  38.0     11     10     17     45     57  43.0
15         Bolton  38.0      9     13     16     44     62  40.0
16     Sunderland  38.0  10.00  10.00  18.00  29.00  51.00  40.0
17        Ipswich  38.0      9      9     20     41     64  36.0
18          Derby  38.0      8      6     24     33     63  30.0
19      Leicester  38.0      5     13     20   30**     64  28.0
6          West_Ham
7       Aston_Villa
8         Tottenham
10      Southampton
11    Middlesbrough
12           Fulham
13         Charlton
14          Everton
15           Bolton
16       Sunderland
17          Ipswich
18            Derby
19        Leicester
Name: Team, dtype: object

# Part Four: DRY Fusion

Take the two programs written previously and factor out as much common code as possible, leaving you with two smaller programs and some kind of shared functionality.

In [ ]:
# Your work here